<!-- BLOGZ -->
{% extends "base.html" %}

{% block content %}
<header>
        <h1>Welcome to Your Personal Blog</h1>
    </header>
    <div>
        <h3>Register</h3>
        <p>If you don't have an account, you can register below for one. If you do, please <a href="/login">log in</a>!</p>
        <form action="/register" method="post">
            <table>
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input name="username" type="text" value="{{ username }}">
                        <span class="error">{{username_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input name="password" type="password" value="{{ password }}">
                        <span class="error">{{password_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="verify">Verify Password</label>
                    </td>
                    <td>
                        <input name="verify" type="password" value="{{ verify }}">
                        <span class="error">{{verify_error}}</span>
                    </td>
                </tr>
                
            </table>
            <input type="submit" value="Register">
        </form>
    </div>

{% endblock %}