section {
    display: block;
    text-align: center;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 35pt;
}

h2 {
    font-family: 'Yeseva One', cursive;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 20pt;
    font-style: italic;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 14pt;
}

#favorite-things h3, #favorite-things p {
    color: white;
}

#living, #favorite-things, #human, #computer {
    display: block;
    text-align: center;
    max-width: 100%;
    padding: 1%;
}

.place, .item, .code {
    display: inline-block;
    vertical-align: text-top;
    max-width: 40%;
    margin: 1%;
}

.place img, .item img, .code img {
    display: inline-block;
    width: 80%;
    height: 25%;
}

.language {
    display: inline-block;
    vertical-align: text-top;
    max-width: 75%;
    margin: 1%;
}

footer {
    text-align: center;
}

#living {
    background-color: hotpink;
}

#favorite-things {
    background-color: rebeccapurple;
}

#human {
    background-color: lightcoral;
}

#computer {
    background-color: lightskyblue;
}

/*
font-family: 'Yeseva One', cursive;
font-family: 'Comfortaa', cursive;
*/